<footer class="text-muted nav-footer">
  <div class="container">
    <br />
    <p>
      Esta é uma aplicação que exibe uma listagem de produtos consumindo um endpoint.
    </p>
    <p>
      O repositório dessa aplicação se encontra em:
      <a
        href="https://github.com/antoniolopesjr/desafio-frontend"
        target="_blank"
        rel="noopener noreferrer"
      >
        Github
      </a>
      .
    </p>
  </div>
</footer>